# ENV type
WP_ENV=development

# database
# WP_TEST_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/webpay_test
# WP_PROD_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/webpay_prod
WP_DEV_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/webpay_dev

# SMTP
WP_SMTP_HOST=localhost
WP_SMTP_PORT=1025

# SPA domain
WP_SPA_HOST_URL='http://webpay-spa:7777/#!'

# OTP
OTP_TTL=3600

# JWT
JWT_KEY=secret_key
JWT_TTL=3600

# settings
APP_NAME=My bank admin
BANK_NAME=My bank
DEFAULT_CURENCY=USD

# where user docs are uploaded
UPLOADS_ROOT_FROM_WEBPAY='./../webpay'

# exceptions notification
ERROR_EMAIL=damir@webteh.us,borna@webteh.us

# puma server
PUMA_MAX_PROCESSES = 5
PUMA_MAX_THREADS = 5
PUMA_WORKER_KILLER = true
PUMA_WORKER_KILLER_INTERVAL_IN_MINUTES = 10

# issuing, use Utils.generate_random_token[0...10] for tokens
LOCAL_CARD_BINS = '440001,440002'
NFC_WRITER_ACCESS_TOKENS='g2crbjdlwc,356va4s5fx,ub3wj36dwt'
NFC_WRITER_API_KEY=abc_123!

########## SERVICES ##########

# switch
# ISO_SWITCH_URL=https://jsecmodule.herokuapp.com
ISO_SWITCH_URL=https://test-webpay.mybank.com/jsecmodule

# crypto
CRYPTO_INTERFACE=luna-crypto

# aquiring module
INFOSWITCH_MODULE=vidanova
INFOSWITCH_AUTHENTICITY_TOKEN=1d4aeefcb9ad...c80a7bfbee365

# memcached, default is localhost if not set
# MEMCACHED_URL=remote-host:11211

# features
ACQUIRING=true
