---
http_interactions:
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"encrypt","key":"encdb_test","mode":"data","clear_array":["Y2F2aHo3Z2txbmdrNWF5ag==\n"]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"encrypt","encrypted_array":["gVkasArtm+/yNyVptM5/MwyZzTZXhNTzfwhiJ7EAEBs\u003d"]}'
  recorded_at: Thu, 28 Dec 2017 03:57:12 GMT
[...]
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","key":"encdb_test","mode":"data","encrypted_array":["dUrjLcCMy1HV4euH3nKXmrb41lxkanTail7t3XrcbDY="]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","clear_array":["YTV3b2R1YmI3aXBtaHBobQ\u003d\u003d"]}'
  recorded_at: Thu, 28 Dec 2017 03:57:15 GMT
recorded_with: VCR 3.0.1
