---
http_interactions:
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"encrypt","key":"encdb_test","mode":"data","clear_array":["MTIzNDU=\n","NTQzMjE=\n","ZHJlYW1pbmcgb2Ygc3VtbWVyLi4u\n"]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"encrypt","encrypted_array":["+DSNuNo7SnM5xHmtcRlSAw\u003d\u003d","xDnXJZb8M2dulw8hBSwMsw\u003d\u003d","XBHiLsh4DsLn9x+0izF13ofjjupJDjVDNbL/SSj32aI\u003d"]}'
  recorded_at: Mon, 13 Mar 2017 19:46:50 GMT
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","key":"encdb_test","mode":"data","encrypted_array":["+DSNuNo7SnM5xHmtcRlSAw==","xDnXJZb8M2dulw8hBSwMsw==","XBHiLsh4DsLn9x+0izF13ofjjupJDjVDNbL/SSj32aI="]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","clear_array":["MTIzNDU\u003d","NTQzMjE\u003d","ZHJlYW1pbmcgb2Ygc3VtbWVyLi4u"]}'
  recorded_at: Mon, 13 Mar 2017 19:46:51 GMT
recorded_with: VCR 3.0.1
