---
http_interactions:
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","key":"encdb_test","mode":"data","encrypted_array":[null]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","clear_array":[null]}'
  recorded_at: Mon, 13 Mar 2017 19:46:52 GMT
recorded_with: VCR 3.0.1
