---
http_interactions:
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"encrypt","key":"encdb_test","mode":"data","clear_array":["MzJrc3ZhN21qY3l0ajZ4ag==\n"]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"encrypt","encrypted_array":["e+sG7elnt7S2upc0IzEkoO2E4upf0f6A0hNwSiAn/3Y\u003d"]}'
  recorded_at: Thu, 28 Dec 2017 04:01:16 GMT
- request:
    method: post
    uri: https://test-webpay.psbbanknv.com/jsecmodule/luna-crypto
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","key":"encdb_test","mode":"data","encrypted_array":["e+sG7elnt7S2upc0IzEkoO2E4upf0f6A0hNwSiAn/3Y="]}'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"action":"decrypt","clear_array":["MzJrc3ZhN21qY3l0ajZ4ag\u003d\u003d"]}'
  recorded_at: Thu, 28 Dec 2017 04:01:16 GMT
recorded_with: VCR 3.0.1
